---
interface Props {
    full?: boolean
}

const {full = false} = Astro.props

const baseClass = "bg-slate-300/70 backdrop-blur-md border border-slate-300/20 shadow-md hover:shadow-xl transition-shadow p-4 rounded-md"
const fullClass = full ? 'w-full' : ''
const classes = `${baseClass} ${fullClass}`
---
<section class={classes}>
    <slot/>
</section>