---
import Brand from "./Brand.astro";
import {getCurrentYear} from "../../lib/readYear";
import Curve from "./Curve.astro";
import Socials from "./Socials.astro";
---
<section class="bg-slate-900 text-white relative mt-12">
    <Curve type="Bottom"/>
    <section class="px-4 py-8">
        <section class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-0 items-center mx-auto max-w-5xl">
            <section class="col-auto flex flex-col justify-center md:justify-start text-center md:text-start">
                <p>© {getCurrentYear()} leeco.dev</p>
                <a class="underline" href="mailto:contant@leeco.dev">contact@leeco.dev</a>
            </section>
            <Brand/>
            <section class="col-auto flex flex-row justify-center md:justify-end items-center gap-4">
                <Socials/>
            </section>
        </section>
    </section>
</section>