---
import Brand from "./Brand.astro";
import {getCurrentYear} from "../../lib/readYear";
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Curve from "./Curve.astro";
import Instagram from "../icons/Instagram.astro";
---
<section class="bg-orange-600 text-white relative mt-12">
    <Curve type="Bottom"/>
    <section class="px-4 py-8">
        <section class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-0 items-center mx-auto max-w-5xl">
            <p class="text-center md:text-start col-auto">© {getCurrentYear()} leeco.dev</p>
            <Brand/>
            <section class="col-auto flex flex-row justify-center md:justify-end items-center gap-4">
                <a href="https://github.com/leec0" target="_blank">
                    <GitHub />
                </a>
                <a href="https://linkedin.com/in/lee-coppens-a52541120/" target="_blank">
                    <LinkedIn/>
                </a>
                <a href="https://instagram.com/lee_coppens" target="_blank">
                    <Instagram/>
                </a>
            </section>
        </section>
    </section>
</section>