---
const {height = "200px"} = Astro.props
---
<section class="bg-orange-600 text-white relative mb-8">
    <section class="flex flex-row justify-center items-center px-4" style=`min-height: ${height};`>
        <slot/>
    </section>
    <section class="overflow-hidden leading-none">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="w-full h-[110px]">
            <path d="M-9.31,82.39 C149.99,150.00 271.95,0.00 510.00,98.26 L500.00,150.00 L0.00,150.00 Z"
                  class="fill-stone-100"></path>
        </svg>
    </section>
</section>
