---
import Curve from "./Curve.astro";
const {height = "200px"} = Astro.props
---
<section class="bg-orange-600 text-white relative mb-8">
    <section class="flex flex-row justify-center items-center px-4" style=`min-height: ${height};`>
        <slot/>
    </section>
    <Curve type="Top"/>
</section>
