---
import GitHub from "../icons/GitHub.astro";
import Instagram from "../icons/Instagram.astro";
import LinkedIn from "../icons/LinkedIn.astro";
---
<a href="https://github.com/leec0" target="_blank">
    <GitHub/>
</a>
<a href="https://linkedin.com/in/lee-coppens-a52541120/" target="_blank">
    <LinkedIn/>
</a>
<a href="https://instagram.com/lee_coppens" target="_blank">
    <Instagram/>
</a>
