---
import {Icon} from 'astro-icon/components'
---
<a href="https://github.com/leec0" target="_blank">
   <Icon name="github" title="GitHub" class="size-8" />
</a>
<a href="https://linkedin.com/in/lee-coppens-a52541120/" target="_blank">
    <Icon name="linked-in" title="LinkedIn" class="size-8" />
</a>
<a href="https://instagram.com/lee_coppens" target="_blank">
    <Icon name="instagram" title="Instagram" class="size-8" />
</a>
