@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "tailwindcss";

@theme {
    --font-rubik: "Rubik", sans-serif;
    --font-permanant: "Permanent Marker", sans-serif;
}

.projects-container {
    @apply flex flex-col gap-4;
}

.projects-container h2 {
    @apply font-bold text-2xl;
}

.projects-container h3 {
    @apply font-semibold text-xl;
}

.projects-container h4, h5, h6 {
    @apply font-semibold text-lg;
}

.projects-container a {
    @apply underline text-orange-400 hover:text-amber-400 transition;
}

.projects-container ul {
    @apply ml-5;
    list-style: none;
    padding-left: 0;
}

.projects-container li {
    @apply flex flex-row items-start gap-2;
}

.projects-container li::before {
    content: '-';
}

.projects-container img {
    @apply rounded-md;
}