---
import Brand from "../pageElements/Brand.astro";
import Button from "../pageElements/Button.astro";

const {pathname} = Astro.url
const FirstSegment = '/' + pathname.split("/")[1] || '';

const navLinks = [
    {name: "Home", href: "/"},
    {name: "About Me", href: "/about-me"},
    {name: "Projects", href: "/projects"},
]
---
<nav class="sticky top-0 z-50 bg-stone-100 text-slate-950 flex flex-col md:flex-row gap-4 justify-between items-center px-4 md:px-24 py-2">
    <Brand/>
    <section class="flex flex-col md:flex-row justify-end items-center gap-2 md:gap-4">
        {navLinks.map(link => (
                <Button href={link.href} theme={FirstSegment === link.href ? "active" : "inactive"}>{link.name}</Button>
        ))}
    </section>
</nav>
