---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---
<Layout pageTitle="404 - Page Not Found">
    <section class="flex flex-col items-center justify-center h-[80vh] gap-2">
        <h1 class="font-extrabold text-3xl">404 - Page Not Found</h1>
        <p class="font-semibold text-xl">Sorry, the page your looking for doesn't exist.</p>
        <Button href="/" label="Back to home"/>
    </section>
</Layout>