---

import Layout from "../layouts/Layout.astro";
import Button from "../components/pageElements/Button.astro";---
<Layout pageTitle="Contact">
    <section class="flex flex-col items-center justify-center h-[60vh] gap-6">
        <section class="flex flex-col gap-2 text-center">
            <h1 class="font-heading text-4xl text-kiwi">Under construction</h1>
            <p class="text-xl text-text-muted">I'm currently still in the process of building this page.</p>
        </section>
        <Button size="lg" href="/">Back to home</Button>
    </section>
</Layout>