---

import Layout from "../layouts/Layout.astro";
import Button from "../components/pageElements/Button.astro";---
<Layout pageTitle="404 - Page Not Found">
    <section class="flex flex-col items-center justify-center h-[60vh] gap-6">
        <section class="flex flex-col gap-2 text-center">
            <h1 class="font-extrabold text-4xl">Under construction</h1>
            <p class="font-bold text-xl">I'm currently still in the proces of building this page.</p>
        </section>
        <Button size="lg" href="/">Back to home</Button>
    </section>
</Layout>