---

import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";---

<Layout pageTitle="Construction">
    <section class="flex flex-col items-center justify-center h-[80vh] gap-2">
        <h1 class="text-4xl font-extrabold">Under Construction!</h1>
        <p class="text-xl">This website is currently under construction. Feel free to check out my github below in the mean time.</p>
        <Button href="https://github.com/leec0" label="GitHub"/>
    </section>
</Layout>