---

import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";---

<Layout pageTitle="Construction">
    <section class="flex flex-col items-center justify-center text-center h-[80vh] gap-6">
        <section class="flex flex-col text-center gap-2">
            <h1 class="text-4xl font-black">Under Construction!</h1>
            <p class="text-xl font-bold">This website is currently under construction.</p>
        </section>
        <Button href="https://github.com/leec0" label="GitHub"/>
    </section>
</Layout>