---

---

<nav class="flex flex-col md:flex-row justify-between items-center gap-2 outline outline-stone-500 rounded-md p-2">
    <a class="text-xl font-bold" href="/"><h1>leeco.dev</h1></a>
    <section class="flex items-center gap-2">

    </section>
</nav>