---
import Button from "./Button.astro";
const {title, description, date, slug} = Astro.props;
---
<section class="bg-stone-300 border border-stone-400 p-4 rounded-md">
    <section class="flex flex-col gap-4">
        <section class="flex flex-col gap-1">
            <section class="flex flex-row justify-between items-center">
                <h3 class="text-xl font-semibold">{title}</h3>
                <p>{date}</p>
            </section>
            <p>{description}</p>
        </section>
        <Button><a class="text-lg" href=`projects/${slug}`>More Details</a></Button>
    </section>
</section>