---

import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/pageElements/Hero.astro";
import Projects from "../../components/projects/Projects.astro";
import Link from "../../components/pageElements/Link.astro";---
<Layout>
    <Hero slot="hero">
        <section class="flex flex-col gap-2 text-center">
            <h1 class="text-4xl font-bold">Projects</h1>
            <p class="text-lg">A collection of project I've worked on.</p>
        </section>
    </Hero>
    <section class="mb-4">
        <Link href="/">← Go back</Link>
    </section>
    <Projects/>
</Layout>