---
import "../styles/global.css"
import bgSvg from "../assets/background.svg"
import Footer from "../components/Footer.astro";

const {pageTitle} = Astro.props
---
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="stylesheet" href="./"/>
    <title>{pageTitle}</title>
</head>
<body class="font-sans bg-white text-gray-950 cursor-default flex flex-col min-h-screen bg-cover bg-center" style={`background-image: url(${bgSvg.src})`}>
<main class="flex-1 my-4 mx-auto max-w-5xl w-full">
    <slot/>
</main>
<Footer/>
</body>
</html>