---
import "../styles/global.css"
import Footer from "../components/pageElements/Footer.astro";
import Navbar from "../components/navigation/Navbar.astro";

const {pageTitle = "leeco.dev"} = Astro.props
---
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image" href="/favicon.png"/>
    <link rel="stylesheet" href="./"/>
    <title>{pageTitle}</title>
</head>
<body class="font-rubik bg-stone-100 text-slate-950 cursor-default flex flex-col min-h-screen">
<Navbar/>
<slot name="hero"/>
<main class="flex-1 m-auto max-w-5xl w-full px-4 xl:px-0">
    <slot/>
</main>
<Footer/>
</body>
</html>