---
import "../styles/global.css"
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="./" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Leeco</title>
	</head>
	<main class="m-auto max-w-5xl px-4 py-5 cursor-default">
		<slot />
	</main>
</html>